
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, @User.Identity.Name!</h1>
    <p class="lead">Welcom to Auction Website Dasboard.</p>
    <hr class="my-4">
</div>



